body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: sans-serif;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
