/* ------- GLOBAL ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding: 20px;
}

/* ------- HEADER ------- */
header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
    opacity: 0.7;
    margin-bottom: 30px;
}

/* ------- MAIN CONTENT ------- */
main {
    max-width: 650px;
    margin: auto;
}

.content p {
    margin: 15px 0;
    line-height: 1.6;
}

/* ------- BUTTON ------- */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 22px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: 0.25s;
}

.btn:hover {
    background: #000;
    color: #fff;
}

/* ------- SOCIAL ------- */
.social ul {
    list-style: none;
    margin-top: 20px;
}

.social li {
    margin: 8px 0;
}

.social a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: 0.25s;
}

.social a:hover {
    opacity: 0.6;
}

/* ------- FOOTER ------- */
footer {
    margin-top: 50px;
    opacity: 0.6;
    font-size: 0.8rem;
  }
